{% extends 'base.html' %}
{% block title %} Edit Post | Blogly {% endblock %}
{% block content %}
<h1>Edit {{post.title}}</h1>

<form action="/posts/{{post.id}}/edit" method="POST">
    <input type="text" name="title" value="{{post.title}}">
    <input type="text" name="content" value="{{post.content}}">

    {% for tag in tags %}
    <div>
      <input class="form-check-input"
             type="checkbox"
             value="{{ tag.id }}"
             id="tag_{{ tag.id }}"
             {% if tag in post.tags %}checked{% endif %}
             name="tags">
      <label class="form-check-label" for="tag_{{ tag.id }}">
        {{ tag.name }}
      </label>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}