{% extends 'base.html' %}
{% block title %} Edit User | Blogly {% endblock %}
{% block content %}
<h1>Edit {{user.first_name}}</h1>

<img src="{{user.image_url}}" alt="Profile Image">



<h3><span>{{user.first_name}}</span><span>{{user.last_name}}</span></h3>

<form action="/users/{{user.id}}/edit" method="POST">
    <input type="text" name="first_name" value="{{user.first_name}}">
    <input type="text" name="last_name" value="{{user.last_name}}">
    <input type="text" name="image_url" value="{{user.image_url}}">
    <button>Update</button>
</form>

{% endblock %}